/* (A) WHOLE PAGE */
/* (A) ENTIRE PAGE */
body {
  background-color: black;
}

 /* The navigation bar */
 .navbar {
  overflow: hidden;
  /*background-color: #333; */
  position: absolute; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 50%;
  transform: translatex(-50%);
  width: 70%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

/* Change background on mouse-over */
.navbar a:hover {
  color: blue;
}

/* Main content */
.main {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
} 

.ex2 {
  color: aliceblue;
  font-size: 200px;
}

#cart-wrap * {
  font-family: arial, sans-serif;
  box-sizing: border-box;
  border-radius: 12px;
}
#cart-wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

#products { width: 97%; }
#cart { width: 0%; }
button {
  border: 0;
  padding: 10px;
  background: rgb(60, 60, 60);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

/* (B) PRODUCTS */
#products {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 10px;
}
.pCell {
  padding: 10px;
  background: #0000;
  border: 1px solid #fff;
  border-radius: 12px;
}
.pTxt { padding: 10px; color: #fff; }
.pName { font-size: 26px; }
.pPrice { font-size: 16px; }
.pImg { width: 100%; }
.pAdd { width: 100%; }

/* (C) CART */
#cart { padding: 10px; }
.cRow {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.cRow { background: rgb(0, 0, 0); }
.cDel, .cQty, .cName { font-size: 18px; color: #fff; }
.cDel, .cName { padding: 20px; }
.cName { flex-grow: 1;   font-size: 1.05em;
  font-weight: 700;}
.cQty {
  width: 50px;
  padding: 3px;
  margin-right: 5px;
  color : rgb(0, 0, 0);
}
.cTotal {
  font-weight: bold;
  padding: 10px;
  background: #dcffef;
}
.cOut { background: #136c8f; }
.cOut, .cNuke {
  box-sizing: border-box;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}

/* (D) RESPONSIVE */
@media screen and (max-width: 640px) {
  #products {
    grid-template-columns: 100%;
  }
}
