/* (A) ENTIRE PAGE */
body {
  background-color: black;
}

 /* The navigation bar */
 .navbar {
  overflow: hidden;
  /*background-color: #333; */
  position: absolute; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 50%;
  transform: translatex(-50%);
  width: 70%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

/* Change background on mouse-over */
.navbar a:hover {
  color: blue;
}

/* Main content */
.main {
  margin-top: 120px; /* Add a top margin to avoid content overlay */
} 

.ex2 {
  color: aliceblue;
  font-size: 50px;
}

@media (min-width: 600px) {
  .ex2 {
   color: aliceblue;
   font-size: 100px;
  }
}

.aligncenter {
    text-align: center;
}

